body {
  background-color: burlywood;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 50px;
  font-family: "Varela", sans-serif;
}
.signUpForm {
  width: 280px;
  height: 70vh;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}
.separator {
  border-bottom: 1px solid rgb(198, 198, 198);
  margin-bottom: 20px;
  width: 100%;
}

.formLabel {
  display: flex;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.formField > input {
  font-family: "Varela Round", sans-serif;
  padding: 8px;
  width: 95%;
  height: 20px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 3px;
}
.signUpButton {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  padding: 8px;
  width: 102%;
  color: white;
  background-color: rgb(15, 163, 163);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
